body {
    font-family: Arial, sans-serif;
    background-color: #BBE3E8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono-h1 {
    margin-bottom: 10px;
    color: #007bff;
    font-size: 35px;
}

.titulo-container {
    display: flex;  /* centra el contenido verticalmente */
    align-items: center; /* alinea los elementos verticalmente */
    justify-content: center; 
    flex-direction: column;  /* asegura que los elementos se apilen verticalmente */
}

h1 {
    text-align: center;
    font-weight: 950;
    font-size: 45px;
}

h3, h5 {
    text-align: left;
    margin: 5px; /*el espacio entre los elementos h*/
}

h5 {
    color: #7E7E7E;

}

h6 {
    color: #7E7E7E;
    text-align: center;
}

.login-form {
    width: 100%; 
}

.form-group {
    margin-bottom: 20px; 
    margin-top: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}